.notDone {
  border-style: solid;
  border-color: red;
}

img:hover {
  cursor: pointer;
  border-style: solid;
  border-color: green;
  transition: 0.1s;
}

.padding {
  padding-bottom: 16px;
  padding-top: 0;
}